<nz-tag (click)="elegirTipo($event.target.textContent)" [nzColor]="'red'"
  >water</nz-tag
>
<nz-tag (click)="elegirTipo($event.target.textContent)" [nzColor]="'cyan'"
  >poison</nz-tag
>
<nz-tag (click)="elegirTipo($event.target.textContent)" [nzColor]="'black'"
  >bug</nz-tag
>
<nz-tag (click)="elegirTipo($event.target.textContent)" [nzColor]="'green'"
  >flying</nz-tag
>
<nz-tag (click)="elegirTipo($event.target.textContent)" [nzColor]="'brown'"
  >grass</nz-tag
>
<nz-tag (click)="elegirTipo($event.target.textContent)" [nzColor]="'blue'"
  >normal</nz-tag
>
<nz-tag (click)="elegirTipo($event.target.textContent)" [nzColor]="'yellow'"
  >fire</nz-tag
>
