<div nz-row>
  <div nz-col nzMd="24">
    <app-buscador (buscar)="filtrarPokemon($event)"></app-buscador>
    <a routerLink="form">IR A FORM</a>
  </div>
  <div nz-col nzMd="24">
    <app-pokemon-tags (tipo)="filtrarTipo($event)"></app-pokemon-tags>
  </div>
  <div nz-col nzMd="24">
    <p *ngIf="showPokemons | async">ESTA CARGANDO</p>
    <div *ngIf="!(showPokemons | async)">
      <app-pokemon-item
        *ngFor="let pokemon of $pokemonsFetch | async"
        [pokemon]="pokemon"
      ></app-pokemon-item>
    </div>
  </div>
</div>
